body{
    background-color: rgba(73, 94, 26, 0.979);
}
.pop-up{
    border: 6px dashed white;
    width: 40%;
    margin: 0 auto;
    position: relative;
    transform-origin: 5px 5px;
    top: -300px;
    animation: drop 8s ease forwards,
               swing 2s 3S ease forwards;
}
.circle{
    border-radius: 58px;
    background-color:black;
    width: 20px;
    position: absolute;
    top: -11px;
    left: -6px;
   
}

@keyframes drop{
    0%{}
    70%{transform: translateY(400px);}
    100%{transform: translateY(350px);}
}

@keyframes swing{
    0%{transform: translateY(350px) rotateZ(0deg);}
    60%{transform: translateY(350px) rotateZ(90deg);}
    80%{transform: translateY(350px) rotateZ(150deg);}
    100%{transform: translateY(350px) rotateZ(360eg);}
}